In [3]:
import pandas as pd
import numpy as np
dataset=pd.read_csv("/content/drive/MyDrive/salary_age.csv")
print(dataset)

    index  age salary
0       0   25  35000
1       1   27  40000
2       2   58  54800
3       3   35    Nan
4       4   40  60000
5       5   35  58000
6       6  Nan  52000
7       7   48  79000
8       8   50  83000
9       9   37    Nan
10     10   21  24000
11     11  Nan  60000
12     12   63  70000

In [4]:
import pandas as pd
import numpy as np
dataset=pd.read_csv("/content/drive/MyDrive/salary_age.csv")
x=dataset.iloc[:,:-1].values# all rows , except last column
print(x)

[[0 '25']
 [1 '27']
 [2 '58']
 [3 '35']
 [4 '40']
 [5 '35']
 [6 'Nan']
 [7 '48']
 [8 '50']
 [9 '37']
 [10 '21']
 [11 'Nan']
 [12 '63']]

In [5]:
  y=dataset.iloc[:,-1].values
  print(y)

['35000' '40000' '54800' 'Nan' '60000' '58000' '52000' '79000' '83000'
 'Nan' '24000' '60000' '70000']

In [6]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy="mean")
x=imp.fit_transform(x)
print(x)

[[ 0.         25.        ]
 [ 1.         27.        ]
 [ 2.         58.        ]
 [ 3.         35.        ]
 [ 4.         40.        ]
 [ 5.         35.        ]
 [ 6.         39.90909091]
 [ 7.         48.        ]
 [ 8.         50.        ]
 [ 9.         37.        ]
 [10.         21.        ]
 [11.         39.90909091]
 [12.         63.        ]]

In [7]:
y=y.reshape(-1,1)
y=imp.fit_transform(y)
y=y.reshape(-1)
print(y)

[35000.         40000.         54800.         55981.81818182
 60000.         58000.         52000.         79000.
 83000.         55981.81818182 24000.         60000.
 70000.        ]